<main>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/photo3.jpg" alt="Your Picture" class="profile-picture">
    </div>
    <div class="col-md-6">
      <h2>About Me</h2>
      <p>
        Hello! My name is Janis Bošs, and I am the owner of this website. I have 12 years of experience
        in cycling industry and I'm passionate about riding bikes. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam scelerisque magna sit amet tellus auctor, nec malesuada libero hendrerit.
      </p>
      <p>
        Fusce nec nulla a nunc condimentum lacinia. Phasellus
        at metus rutrum, ullamcorper nisl sed, convallis tortor. Curabitur porttitor, sapien a congue
        rhoncus, ligula enim convallis orci, at hendrerit urna turpis in velit. Praesent sollicitudin
        orci nec mauris elementum, id efficitur ex convallis.
      </p>
    </div>
  </div>
</div>

</main>